<!doctype html>
<html ng-app="todoApp">
  <head>
    <meta name="google-site-verification" content="PtlTebFoue90iB2Sc9zKLJRERVBuDYqTO50mBJqCgt0"/>
    <link rel="stylesheet" href="http://uaks7607eb57.apogee.koding.io//css/index.css">
    <link rel="stylesheet" href="http://uaks7607eb57.apogee.koding.io//css/sidebar.css">
  </head>
  <body>

    <div id="sidebarinfo">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAXaAAAAJGIxNDMxZTA5LTlkMzMtNGZkNi1iY2E1LTE1ZGYzMGRmYTk1OA.jpg" alt="Headshot" class="headshot"/>
        <span id="username">Guest</span>
        <button id="sidebarToggle">Toggle Menu</button>
    </div>



    <nav class="main-menu">
        <ul>
            <li>
                <a href="http://uaks7607eb57.apogee.koding.io/homepage_loggedIn.html"><i class="fa fa-home fa-2x"></i> <span class=
                "nav-text">Home</span></a>
            </li>

            <li>
                <a href="http://uaks7607eb57.apogee.koding.io/shop.php"><i class="fa fa-shopping-cart fa-2x"></i> <span class=
                "nav-text">Search Products</span></a>
            </li>

            <li>
                <a href="http://uaks7607eb57.apogee.koding.io/wishlist.php"><i class="fa fa-list fa-2x"></i> <span class=
                "nav-text">Your Wishlist</span></a>
            </li>

            <li>
                <a href="http://uaks7607eb57.apogee.koding.io/accountsettings.html"><i class="fa fa-wrench fa-2x"></i>
                <span class="nav-text">Account Settings</span></a>
            </li>

            <li>
                <a href="http://uaks7607eb57.apogee.koding.io/about.html"><i class="fa fa-info fa-2x"></i> <span class=
                "nav-text">About</span></a>
            </li>

        </ul>

        <ul class="logout">
            <li>
                <a href="http://uaks7607eb57.apogee.koding.io/logout.html"><i class="fa fa-power-off fa-2x"></i> <span class=
                "nav-text">Logout</span></a>
            </li>
        </ul>
    </nav>





    <div id="wrapper">

        <div id="main">
            <h1>The Bargainers</h1>
        </div>

        <div id="mainPage" ng-controller="TodoListController as todoList">
            <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
            [ <a href="" ng-click="todoList.archive()">archive</a> ]
            <ul class="unstyled">
                <li ng-repeat="todo in todoList.todos">
                <label class="checkbox">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{todo.done}}">{{todo.text}}</span>
                </label>
                </li>
            </ul>

            <form ng-submit="todoList.addTodo()">
                <input type="text" ng-model="todoList.todoText"  size="30"
                       placeholder="add new todo here">
                <input class="btn-primary" type="submit" value="add">
            </form>
        </div>
    </div>


    <div id="footer">
        &copy; 2015 The Bargainers Ltd.
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="http://uaks7607eb57.apogee.koding.io//js/index_sidebar.js"></script>
    <script type="text/javascript" src="http://uaks7607eb57.apogee.koding.io//js/index.js"></script>
    <script type="text/javascript" src="http://uaks7607eb57.apogee.koding.io//js/index_controller.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
    <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

  </body>

</html>








